# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
**/generated_plugin_registrant.dart
.packages
.pub-preload-cache/
.pub/
build/
/build/

# Android related
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS/XCode related
**/ios/**/DerivedData/
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/xcuserdata
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral

# macOS/Windows/Linux (Desktop)
**/macos/Flutter/ephemeral
**/windows/flutter/generated_plugin_registrant.*
**/linux/flutter/generated_plugin_registrant.*

# Symbols and Coverage
coverage/
app.*.symbols
app.*.map.json